@font-face {
  font-family: merriweather-bold;
  src: url(https://cdn.glitch.global/05768625-d411-4ae9-98a4-764040f49568/Merriweather-Bold.ttf?v=1694200474042);
}

@font-face {
  font-family: roboto;
  src: url(https://cdn.glitch.global/05768625-d411-4ae9-98a4-764040f49568/Roboto-Regular.ttf?v=1694200570141);
}

body {
  background-color: #071723;
  color: #ffffff;
  font-family: roboto;
  font-size: 1.05em;
}

h1 {
  font-family: merriweather-bold;
  margin-bottom: 0.75em;
}

h2 {
  font-family: merriweather-bold;
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

/* unvisited link */
a:link {
  color: #58c9f7;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #40b6e3;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #40b6e3;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #40b6e3;
  text-decoration: none;
}

.footer {
  margin-top: 1.5em;
  padding-top: 0.25em;
  border-top: 1px solid #ffffff;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #144163;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.chart-background {
  background: #ffffff;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 2px;
}

.collapsable-chart {
  margin-top: 1em;
}